h1{
    color: #f6ff00;
}

/**{
    border: solid;
}*/

.header{
    background-color: #ff7799;
    display: flex;
    justify-content: space-between;

}

.site-description{
    background-color: #ffb7fa;
    display: flex;
    flex-wrap: column;
    justify-content:first baseline;

}

.grid{
    background-color: #f6ff00;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    background-color: #b2ff00;
    display:flex;
    justify-content: flex-end;

}

p,h2{
    text-align:center;
    
}